<div class="av_news_mg_cont">
	<div class="av_news_cont">
		<div class="av_news_header page_fold">
			<div class="av_news_head">NEWS / ALERT </div> <span class="av_news_count pull-right">TOTAL<span> 21</span></span>
		</div>
		<div class="av_news_feed row">
			<div class="av_news_feed_img col-lg-2">
				<img src="css/images/newsFeed1.jpg" alt="news feed" />
			</div>
			<div class="av_news_feed_txt col-lg-10">
				<h4>Instantly thicker hair powered by Botanicals</h4>
				<span class="av_news_feed_date">Tuesday 14 April, 2015</span>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<a href="javascript:void(0)" title="">READ MORE</a>
			</div>
		</div>
		<div class="av_news_feed row">
			<div class="av_news_feed_img col-lg-2">
				<img src="css/images/newsFeed3.jpg" alt="news feed" />
			</div>
			<div class="av_news_feed_txt col-lg-10">
				<h4>Earn double points this weekend*</h4>
				<span class="av_news_feed_date">Tuesday 14 April, 2015</span>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<a href="javascript:void(0)" title="">READ MORE</a>
			</div>
		</div>
		<div class="av_news_feed row">
			<div class="av_news_feed_img col-lg-2">
				<img src="css/images/newsFeed2.jpg" alt="news feed" />
			</div>
			<div class="av_news_feed_txt col-lg-10">
				<h4>Master Tippi Shorter's gorgeous spring curls from Aveda's Spring Collection "Rare Bloom"</h4>
				<span class="av_news_feed_date">Tuesday 14 April, 2015</span>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<a href="javascript:void(0)" title="">READ MORE</a>
			</div>
		</div>
		<div class="av_news_feed row">
			<div class="av_news_feed_img col-lg-2">
				<img src="css/images/newsFeed1.jpg" alt="news feed" />
			</div>
			<div class="av_news_feed_txt col-lg-10">
				<h4>Changing the World One Snip at a Time</h4>
				<span class="av_news_feed_date">Tuesday 14 April, 2015</span>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<a href="javascript:void(0)" title="">READ MORE</a>
			</div>
		</div>
	</div>
</div>