<aside>

<H1>&nbsp;</H1>
<H1>&nbsp;</H1>
<H1>&nbsp;</H1>

<span ng-show="hasPermission('news')">News</span>
<span ng-show="hasPermission('promotions')">Promotions</span>
<span ng-show="hasPermission('profile')">My Profile</span>
<span ng-show="hasPermission('orders')">My Orders</span>
<span ng-show="hasPermission('pendingOrder')">Pending Salon Order</span>
<span ng-show="hasPermission('salons')">My Salons</span>
<span ng-show="hasPermission('users')">My Users</span>
<span ng-show="hasPermission('claims')">Submit Claim</span>
<span ng-show="hasPermission('clients')">Client Dislike</span>

</aside>