<header class="header navbar navbar-inner">
    <nav tolerance='20' offset='200' class="navbar navbar-default navbar-fixed-top main-nav" role="navigation" headroom>
        <section>
            <div class="container">
                <ul class="nav navigation_div">
                    <li role="presentation" class="col-lg-2 browse_div">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="sand_icon">
                                <i class="fa fa-bars" ng-class="{ 'text-info': navStatus.visible }"></i>
                            </span>
                            <span class="text-primary browse_text">BROWSE</span>
                        </a>
                        <ul class="dropdown-menu browse_submenu win-ht" role="menu">
                            <li role="presentation" class="active">
                                <a href="#">HAIR CARE<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
                                <ul class="dropdown-menu-right col-lg-2 sub_browse_menu-2 win-ht">
                                    <li>
                                        <a href="#">Shampoo<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
                                        <ul class="dropdown-menu-right win-ht sub_browse_menu-3">
                                            <li><a href="#">invati<sup>TM</sup></a></li>
                                            <li><a href="#">dry remedy<sup>TM</sup></a></li>
                                            <li><a href="#">litres</a></li>
                                            <li><a href="#">rosemary mint</a></li>
                                            <li><a href="#">shampure<sup>TM</sup></a></li>
                                            <li><a href="#">smooth infusion<sup>TM</sup></a></li>
                                            <li><a href="#">be curly<sup>TM</sup></a></li>
                                            <li><a href="#">damage remedy<sup>TM</sup></a></li>
                                            <li><a href="#">color conserve<sup>TM</sup></a></li>
                                            <li><a href="#">pure adundance<sup>TM</sup></a></li>
                                            <li><a href="#">suncare</a></li>
                                            <li><a href="#">brilliant<sup>TM</sup></a></li>
                                            <li><a href="#">scalp benefits<sup>TM</sup></a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Conditioner<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
                                        <ul class="dropdown-menu-right win-ht sub_browse_menu-3">
                                            <li><a href="#">invati<sup>TM</sup></a></li>
                                            <li><a href="#">dry remedy<sup>TM</sup></a></li>
                                            <li><a href="#">litres</a></li>
                                            <li><a href="#">rosemary mint</a></li>
                                            <li><a href="#">shampure<sup>TM</sup></a></li>
                                            <li><a href="#">smooth infusion<sup>TM</sup></a></li>
                                            <li><a href="#">be curly<sup>TM</sup></a></li>
                                            <li><a href="#">damage remedy<sup>TM</sup></a></li>
                                            <li><a href="#">color conserve<sup>TM</sup></a></li>
                                            <li><a href="#">pure adundance<sup>TM</sup></a></li>
                                            <li><a href="#">suncare</a></li>
                                            <li><a href="#">brilliant<sup>TM</sup></a></li>
                                            <li><a href="#">scalp benefits<sup>TM</sup></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Treatment</a></li>
                                    <li><a href="#">Styling</a></li>
                                    <li><a href="#">Men</a></li>
                                    <li>
                                        <a href="#">Hair Color<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
                                        <ul class="dropdown-menu-right win-ht sub_browse_menu-3">
                                            <li><a href="#">invati<sup>TM</sup></a></li>
                                            <li><a href="#">dry remedy<sup>TM</sup></a></li>
                                            <li><a href="#">litres</a></li>
                                            <li><a href="#">rosemary mint</a></li>
                                            <li><a href="#">shampure<sup>TM</sup></a></li>
                                            <li><a href="#">smooth infusion<sup>TM</sup></a></li>
                                            <li><a href="#">be curly<sup>TM</sup></a></li>
                                            <li><a href="#">damage remedy<sup>TM</sup></a></li>
                                            <li><a href="#">color conserve<sup>TM</sup></a></li>
                                            <li><a href="#">pure adundance<sup>TM</sup></a></li>
                                            <li><a href="#">suncare</a></li>
                                            <li><a href="#">brilliant<sup>TM</sup></a></li>
                                            <li><a href="#">scalp benefits<sup>TM</sup></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Collections</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="active">
                                <a href="#">STYLING<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
                                <ul class="dropdown-menu-right col-lg-2 sub_browse_menu-2 win-ht">
                                    <li>
                                        <a href="#">Shampoo<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
                                        <ul class="dropdown-menu-right win-ht sub_browse_menu-3">
                                            <li><a href="#">invati<sup>TM</sup></a></li>
                                            <li><a href="#">dry remedy<sup>TM</sup></a></li>
                                            <li><a href="#">litres</a></li>
                                            <li><a href="#">rosemary mint</a></li>
                                            <li><a href="#">shampure<sup>TM</sup></a></li>
                                            <li><a href="#">smooth infusion<sup>TM</sup></a></li>
                                            <li><a href="#">be curly<sup>TM</sup></a></li>
                                            <li><a href="#">damage remedy<sup>TM</sup></a></li>
                                            <li><a href="#">color conserve<sup>TM</sup></a></li>
                                            <li><a href="#">pure adundance<sup>TM</sup></a></li>
                                            <li><a href="#">suncare</a></li>
                                            <li><a href="#">brilliant<sup>TM</sup></a></li>
                                            <li><a href="#">scalp benefits<sup>TM</sup></a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Conditioner<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
                                        <ul class="dropdown-menu-right win-ht sub_browse_menu-3">
                                            <li><a href="#">invati<sup>TM</sup></a></li>
                                            <li><a href="#">dry remedy<sup>TM</sup></a></li>
                                            <li><a href="#">litres</a></li>
                                            <li><a href="#">rosemary mint</a></li>
                                            <li><a href="#">shampure<sup>TM</sup></a></li>
                                            <li><a href="#">smooth infusion<sup>TM</sup></a></li>
                                            <li><a href="#">be curly<sup>TM</sup></a></li>
                                            <li><a href="#">damage remedy<sup>TM</sup></a></li>
                                            <li><a href="#">color conserve<sup>TM</sup></a></li>
                                            <li><a href="#">pure adundance<sup>TM</sup></a></li>
                                            <li><a href="#">suncare</a></li>
                                            <li><a href="#">brilliant<sup>TM</sup></a></li>
                                            <li><a href="#">scalp benefits<sup>TM</sup></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Treatment</a></li>
                                    <li><a href="#">Styling</a></li>
                                    <li><a href="#">Men</a></li>
                                    <li>
                                        <a href="#">Hair Color<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
                                        <ul class="dropdown-menu-right win-ht sub_browse_menu-3">
                                            <li><a href="#">invati<sup>TM</sup></a></li>
                                            <li><a href="#">dry remedy<sup>TM</sup></a></li>
                                            <li><a href="#">litres</a></li>
                                            <li><a href="#">rosemary mint</a></li>
                                            <li><a href="#">shampure<sup>TM</sup></a></li>
                                            <li><a href="#">smooth infusion<sup>TM</sup></a></li>
                                            <li><a href="#">be curly<sup>TM</sup></a></li>
                                            <li><a href="#">damage remedy<sup>TM</sup></a></li>
                                            <li><a href="#">color conserve<sup>TM</sup></a></li>
                                            <li><a href="#">pure adundance<sup>TM</sup></a></li>
                                            <li><a href="#">suncare</a></li>
                                            <li><a href="#">brilliant<sup>TM</sup></a></li>
                                            <li><a href="#">scalp benefits<sup>TM</sup></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Collections</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="active">
                                    <a href="#">SKINCARE<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
                                    <ul class="dropdown-menu-right col-lg-2 sub_browse_menu-2 win-ht">
                                    <li>
                                        <a href="#">Shampoo<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
                                        <ul class="dropdown-menu-right win-ht sub_browse_menu-3">
                                            <li><a href="#">invati<sup>TM</sup></a></li>
                                            <li><a href="#">dry remedy<sup>TM</sup></a></li>
                                            <li><a href="#">litres</a></li>
                                            <li><a href="#">rosemary mint</a></li>
                                            <li><a href="#">shampure<sup>TM</sup></a></li>
                                            <li><a href="#">smooth infusion<sup>TM</sup></a></li>
                                            <li><a href="#">be curly<sup>TM</sup></a></li>
                                            <li><a href="#">damage remedy<sup>TM</sup></a></li>
                                            <li><a href="#">color conserve<sup>TM</sup></a></li>
                                            <li><a href="#">pure adundance<sup>TM</sup></a></li>
                                            <li><a href="#">suncare</a></li>
                                            <li><a href="#">brilliant<sup>TM</sup></a></li>
                                            <li><a href="#">scalp benefits<sup>TM</sup></a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Conditioner<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
                                        <ul class="dropdown-menu-right win-ht sub_browse_menu-3">
                                            <li><a href="#">invati<sup>TM</sup></a></li>
                                            <li><a href="#">dry remedy<sup>TM</sup></a></li>
                                            <li><a href="#">litres</a></li>
                                            <li><a href="#">rosemary mint</a></li>
                                            <li><a href="#">shampure<sup>TM</sup></a></li>
                                            <li><a href="#">smooth infusion<sup>TM</sup></a></li>
                                            <li><a href="#">be curly<sup>TM</sup></a></li>
                                            <li><a href="#">damage remedy<sup>TM</sup></a></li>
                                            <li><a href="#">color conserve<sup>TM</sup></a></li>
                                            <li><a href="#">pure adundance<sup>TM</sup></a></li>
                                            <li><a href="#">suncare</a></li>
                                            <li><a href="#">brilliant<sup>TM</sup></a></li>
                                            <li><a href="#">scalp benefits<sup>TM</sup></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Treatment</a></li>
                                    <li><a href="#">Styling</a></li>
                                    <li><a href="#">Men</a></li>
                                    <li>
                                        <a href="#">Hair Color<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
                                        <ul class="dropdown-menu-right win-ht sub_browse_menu-3">
                                            <li><a href="#">invati<sup>TM</sup></a></li>
                                            <li><a href="#">dry remedy<sup>TM</sup></a></li>
                                            <li><a href="#">litres</a></li>
                                            <li><a href="#">rosemary mint</a></li>
                                            <li><a href="#">shampure<sup>TM</sup></a></li>
                                            <li><a href="#">smooth infusion<sup>TM</sup></a></li>
                                            <li><a href="#">be curly<sup>TM</sup></a></li>
                                            <li><a href="#">damage remedy<sup>TM</sup></a></li>
                                            <li><a href="#">color conserve<sup>TM</sup></a></li>
                                            <li><a href="#">pure adundance<sup>TM</sup></a></li>
                                            <li><a href="#">suncare</a></li>
                                            <li><a href="#">brilliant<sup>TM</sup></a></li>
                                            <li><a href="#">scalp benefits<sup>TM</sup></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Collections</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="active">
                                    <a href="#">BODY<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
                            </li>
                            <li role="presentation" class="active">
                                    <a href="#">MEN<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
                            </li>
                            <li role="presentation" class="active">
                                    <a href="#">MAKE-UP<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
                            </li>
                            <li role="presentation" class="active">
                                    <a href="#">PERFUME<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
                            </li>
                            <li role="presentation" class="active">
                                    <a href="#">GIFTS<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
                            </li>
                            <li role="presentation" class="active">
                                    <a href="#">NEW<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-lg-6 search_div">
                        <form role="form" class="input-group">
                            <div class="form-group input-group-btn">
                              <select class="form-control product_type_submenu" id="sel1">
                                <option>PRODUCT TYPE</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                              </select>
                              <input type="text" class="form-control search_field" aria-label="...">
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                              </span>
                          </div>
                        </form>
                    </li>
                    <li class="col-lg-2 build_order_div">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Build Order <span class="caret"></span></a>
                          <ul class="dropdown-menu build_order_submenu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                          </ul>
                    </li>
                    <li class="col-lg-2 user_account_div">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hi, {{user.FirstName}} <span class="caret"></span></a>
                          <ul class="dropdown-menu user_account_submenu" role="menu">
                            <!-- <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li> -->
                            <li ng-show="user.Type!='TempCustomer'"><a href="#" ng-click="Logout()">{{ 'Log Out' | r}}</a></li>
                          </ul>
                    </li>
                </ul>         
             </div>
        </section>
    </nav>
</header>
